@charset "UTF-8";

.container {
    display: grid;
    grid-template-rows: repeat(3,100px);
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.caixa1 {
    background-color: red;
    grid-area: 1 / 1 / 2 / 5;
}

.caixa2 {
    background-color: green;   
    grid-area: 2 / 3 / 4 / 1;
}

.caixa3 {
    background-color: blue;    
    grid-area: 2 / 3 / 4 / 5;
}